* {
    padding: 0;
    margin: 0;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    display: flex;
    justify-content: center;
}
h1 button {
    width: 42%;
    height: 10vh;
    cursor: pointer;
    font-size: 100%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;

}
h2 input {
  width: 30%;
  height: 200%;
  font-size: 100%;
  margin-right: 1%;
}
h2 img {
    height: 50vh;
    width: auto;
}
h2 button {
  width: 10%;
  cursor: pointer;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;}
  /* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
