* {
  padding: 0;
  margin: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
}

.container {
  margin-top: 10%;
  float: left;
  width: 45%;
  height: 100px;

}

.userbox { 
  margin-top: 10%;
  float: left;
  width: 45%;
  height: 50%;
  border: solid 1px white;
  border-radius: 10px;
  overflow: auto;
}

h1 {
    color:#BA68C8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

h2 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.8rem;
  }
}

h1 button {
    width: 70%;
    height: 10vh;
    cursor: pointer;
    font-size: 80%;
    border-radius: 10px;
}


#user {
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 600px) {
  #user {
    font-size: 0.8rem;
  }
}

#title {
  padding-top: 1rem;
}
