<div id="user-info" *ngIf="!showSignIn" >
    <h3 id="username">{{userName}}</h3>
    <button (click)="logout()" mat-raised-button color="secondary">Logout</button>
</div>
<div id="login-container" *ngIf="showSignIn">
    <h1 > Please log in</h1>
    <form>
        <fieldset class="button-group" *ngIf="showSignInButtons">
            <button (click)="loginWithGoogle()"  mat-raised-button color="primary">Login with Google</button>
            <br>
            <button (click)="toggleSignUp()"  mat-raised-button color="primary">Sign Up with Email</button>
            <br>
            <button (click)="toggleSignInForm()"  mat-raised-button color="primary">Login with Email</button>
        </fieldset>
        <fieldset class="form" *ngIf="showSignUp && !showSignInForm">
            <legend>Sign Up:</legend>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="emailInput" name="email" matInput type="text" placeholder="memer@gmail.com">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="passwordInput" name="password" matInput type="password">
            </mat-form-field>
            <button id="submit-button" (click)="signUpWithEmail()" mat-raised-button color="primary">Sign Up</button>
        </fieldset>
        <fieldset class="form" *ngIf="showSignInForm && !showSignUp">
            <legend>Sign In:</legend>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="emailInput" name="email" matInput type="text" placeholder="memer@gmail.com">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="passwordInput" name="password" matInput type="password">
            </mat-form-field>
            <button id="submit-button" (click)="loginWithEmail()" mat-raised-button color="primary">Sign In</button>
        </fieldset>
    </form>
    <div id="error-message">
        <p>{{errorMessageText}}</p>
    </div>
</div>

