<div class = "grid-container">
        <!--
        <button (click)="getImage()">Get New Image :O</button>
        -->
        
    <div class="headerl">
        <img src="{{memeImage}}">
        <button *ngIf="isCzar" id="refresh-button" mat-mini-fab color="primary" (click)="getImage()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="headerm">
        <div *ngIf="isCzar">
            <p style="color: lime"><u>Pick the winner</u></p>
        </div>
    </div>
    <div class="headerr">
        <button *ngIf="!isCzar" (click)="submitPlayerCard()">Submit card</button>
        <button *ngIf="isCzar" (click)="endTurn(getSelected())">End turn</button> 
        <!--Score board here-->
        <h2 style="color: black"><u>Game Score</u></h2>
        <div *ngFor="let score of scores">
            <h3> {{score[0]}}: {{score[1]}}</h3>
        </div>
    </div>
        

         <div *ngIf="isCzar" class = "card-section">
            <div *ngFor="let submittedCard of submittedCards; let i = index">
                <div [ngClass]="{'highlight':checkIfCardIsClicked(0)}" [attr.data-index]="i" (click)="setcurrentlyClickedCardIndex(i)"> {{submittedCard}} </div>
            </div>
         </div>
        <div *ngIf="!isCzar" class = "card-section">
            <div
            [ngClass]="{'highlight':checkIfCardIsClicked(0)}"
            (click)="setcurrentlyClickedCardIndex(0)">
            {{hand[0]}}</div>
            <div 
            [ngClass]="{'highlight':checkIfCardIsClicked(1)}"
            (click)="setcurrentlyClickedCardIndex(1)">
            {{hand[1]}}</div>
            <div
            [ngClass]="{'highlight':checkIfCardIsClicked(2)}"
            (click)="setcurrentlyClickedCardIndex(2)">
            {{hand[2]}}</div>
            <div 
            [ngClass]="{'highlight':checkIfCardIsClicked(3)}"
            (click)="setcurrentlyClickedCardIndex(3)">
            {{hand[3]}}</div>
            <div
            [ngClass]="{'highlight':checkIfCardIsClicked(4)}"
            (click)="setcurrentlyClickedCardIndex(4)">
            {{hand[4]}}</div>
        </div>
            
    </div>
    <div *ngIf = "showOverlay" class = "roundOverlay">
        <div class = "overlayText">
           <p>{{roundWinner}} wins this round! Their card was:</p>
           <p>{{winningCaption}}</p>
           <p>The next round is about to start!</p>
        </div>
    </div>
    <div *ngIf = "showWinnerOverlay" class = "roundOverlay">
        <div class = "overlayText">
            <p>With a score of 5! The Winner of What Do You Meme CPSC Edition is:</p>
            <p> {{winner}} </p>        
            <button (click)="returnHome()">Return Home</button>

        </div>

    </div>
</div>
<div id="game-container">
    <div class="game-content-container">
        <div id="new-image-button">
            <button *ngIf="isCzar" (click)="getImage()" mat-raised-button color="accent">Get New Image :O</button>
        </div>
        <div id="image-container"><img src="{{memeImage}}"></div>
    </div>

    <div class="game-content-container card-content-container">
        <div id="card-button-container">
            <button *ngIf="!isCzar" (click)="getCard()" mat-raised-button color="accent">Get Player Cards :O</button>
            <button *ngIf="!isCzar" (click)="submitPlayerCard()" mat-raised-button color="primary">Submit Card</button>
            <button *ngIf="isCzar" (click)="endTurn()" mat-raised-button color="primary">End turn</button>           
        </div>
        
        <div id="card-container">
            <div class="card-button" *ngFor="let caption of captions; index as i">
                <div class="card-button-child">
                    <mat-card>
                        <mat-card-content>
                            <div>{{i+1}}</div>
                            <mat-divider></mat-divider>
                            <br>
                            <div>{{caption}}</div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
