* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

h1 {
    text-align: center;
    border: solid 1px black;
    color: black; 
    background-color: white;
    margin-top: 3rem;
    cursor: pointer;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 33.3334% 33.3334% 33.3334%;
    grid-template-rows: auto 16rem;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    height: 100%;
    width: 97%;
    padding: 1rem 2rem 0 2rem;
}


@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 90% 50% 50% 100%;
    }
    .headerl {
        grid-row: 1 / 2 !important;
        grid-column: auto !important;
    }
    .headerm {
        grid-row: 2 / 3 !important;
        grid-column: auto !important;
    }
    .headerr {
        grid-row: 3 / 4 !important;
        grid-column: auto !important;
    }
    .card-section {
        grid-row: 4 / 5 !important;
        grid-column: auto !important;
    }
}

.card-section {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    position: relative;
    display: grid;
    grid-template-areas:
      'left leftc middle rightc right';
    grid-column-gap: 1%;
    width: 100%;
}

@media (max-width: 900px) {
    .card-section {
      grid-template-areas: 
        'left' 
        'leftc'
        'middle' 
        'rightc'
        'right';
    }
}

img {
    max-width: 400px;
    max-height: auto;
}

#refresh-button {
    position: absolute;
    top: 1.4rem;
    left: 2.4rem;
}

.headerl {
    /* grid-area: headerl; */
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /* width: 100%; */
    padding: 10px;
    /* height: 100%; */
    /* float: left; */
    background-color:#424242;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headerm {
    /* grid-area: headerm; */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* width: 100%; */
    padding: 10px;
    /* height: 100%; */
    /* float: right; */
    background-color: #EA80FC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.headerr {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    /* width: 100%;
    height: 100%; */
    /* grid-area: headerr; */
    background-color: #B9F6CA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.submit-button {
    align-self: flex-end;
    margin-top: 1rem;
}

p {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    font-style: comic;
    font-family: "Comic Sans MS" ;
    line-height: 1.5em;
    color: #424242;
    margin-top: 1rem;
}

.headerl > p {
    color: #B9F6CA;
}

.headerl > p > u {
    text-decoration-color: #B9F6CA;
}


  /* Style the footer */
.footer {
    /* grid-row: 3 / 4;
    grid-column: 1 / 4; */
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.bottom { 
    position: absolute;                  
    bottom:0;
    margin: auto;
}
#clicker{
    background-color: #7b1fa2;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 400px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      
}
h3 {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #424242;
}

h2{
    text-align: center;
    font-size: 40px;
}
u{
    text-decoration-line: underline;
    text-decoration-color: #212121 ;
    text-align: center;
    font-weight: bolder;
    font-size: 50;
    font-style: comic;
    font-family: "Comic Sans MS" ;
}

.roundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.roundOverlay * {
    pointer-events: none;
}

.overlayText {
    width: 40%;
    background-color: black;
    border: 2px solid white;
    border-radius: 40px;
}

.overlayText h1, p {
    color: white;
    font-size: 1em;
}

::ng-deep .highlight > * {
    background-color: #EA80FC !important;
    color: #212121;
}

::ng-deep .highlight > mat-card > mat-card-content {
    background-color: #EA80FC !important;
}

::ng-deep .highlight > mat-card > mat-card-content > * {
    background-color: #EA80FC !important;
}

::ng-deep .highlight .mat-divider {
    border-top-color: #616161;
}

img {
    width: 400px;
    height: auto;
    margin: 1rem 0 0 0;
}

::ng-deep .mat-card {
    padding-top: 6px !important;
    height: 16rem;
    width: 10rem;
}

.card-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-button :hover {
    background-color: #757575;
}


.title {
    color: #212121
}
