* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

h1 {
    border: solid 1px black;
    color: black; 
    cursor: pointer;
    
    border-radius: 10px;
}
/* The grid container */
.grid-container {
    position: relative;
    display: grid;
    grid-template-areas: 
      'headerl headerl headerm headerm headerr ' 
      'left leftc middle rightc right' 
      'footer footer footer footer footer';
     grid-column-gap: 1%;
} 
.img{
    height: auto;
    width: auto;
    max-width: 450px;
    max-height: 400px;
}

.headerr{
    width: 300px;
    height: 400px;
    grid-area: headerr;
}
.headerl {
    grid-area: headerl;
    width: 600px;
    padding: 10px;
    height: 400px;
    float: left;
    background-color: aqua;
}
.headerm {
    grid-area: headerm;
    width: 600px;
    padding: 10px;
    height: 400px;
    float: right;
    background-color: pink;
}

.headerl{
    padding: 10px;
    height: 100%;

}
.left,
.middle,
.right,
.rightc,
.leftc {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    font-size: 30px;
    color: black;
    outline: 4px solid black;
    outline-offset: -4px;
    text-align: center;
    line-height: 1.1;
    cursor: pointer;
    width: 300px;
}
/* Style the left column */
.left {
    grid-area: left;
    background-color: whitesmoke;
    
}
.leftc {
    grid-area: leftc;
    background-color: whitesmoke;
} 
  /* Style the middle column */
  .middle {
    grid-area: middle;
    background-color: whitesmoke;
}
  
/* Style the right column */
  .rightc {
    grid-area: rightc;
    background-color: whitesmoke;
}
  /* Style the right column */
  .right {
    grid-area: right;
    background-color: whitesmoke;
  }

  /* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'headerr headerr headerr headerr headerr'
        'headerm headerm headerm headerm headerm' 
        'headerl headerl headerl headerl headerl'
        'left left left left left' 
        'leftc leftc leftc leftc leftc'
        'middle middle middle middle middle' 
        'rightc rightc rightc rightc rightc'
        'right right right right right' 
        'footer footer footer footer footer';
    }
  }

  .highlight {
    background-color: yellow;
  }