<!DOCTYPE html>
<html>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </header>
    <div class = "grid-container">
        <div class="header">
            <button (click)="getImage()">Get New Image :O</button>
            <button (click)="getHand()">Get Player Cards :O</button>
        <div class="headerl"><img src="{{memeImage}}" height="450"></div>
        <div class="headerm"></div>
        
        </div>
        <div class = "left" draggable="true" ondragstart="dragDrop(event)">
            {{hand[0]}}
        </div>
        <div class = "leftc" >{{hand[1]}}</div>
        <div class = "middle">{{hand[2]}}</div>
        <div class = "rightc">{{hand[3]}}</div>
        <div class = "right">{{hand[4]}}</div>
    </div>
</html>
