* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

h1 {
    text-align: center;
    border: solid 1px black;
    color: black; 
    background-color: white;
    margin-top: 3rem;
    cursor: pointer;
    border-radius: 10px;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-areas:
      'top-section'
      'card-section'
      'footer';
    grid-column-gap: 1%;
}

.top-section {
    position: relative;
    display: grid;
    grid-template-areas:
      'headerl headerl headerm headerm headerr';
     grid-column-gap: 1%;
}

@media (max-width: 900px) {
    .top-section {
      grid-template-areas: 
        'headerl' 
        'headerl'
        'headerm' 
        'headerm'
        'headerr';
    }
}

.card-section {
    position: relative;
    display: grid;
    grid-template-areas:
      'left leftc middle rightc right';
     grid-column-gap: 1%;
}

@media (max-width: 900px) {
    .card-section {
      grid-template-areas: 
        'left' 
        'leftc'
        'middle' 
        'rightc'
        'right';
    }
}

img {
    max-width: 100%;
    max-height: 400px;
}

.headerl {
    grid-area: headerl;
    width: 100%;
    padding: 10px;
    height: 450px;
    float: left;
    
}

.headerm {
    grid-area: headerm;
    width: 100%;
    padding: 10px;
    height: 450px;
    float: right;
    
}

.headerr {
    width: 100%;
    height: 450px;
    grid-area: headerr;
    
}

p {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-style: comic;
    font-family: "Comic Sans MS" ;
    color: greenyellow;
}
.headerl{
    padding: 10px;
    height: 100%;
    
}
.left,
.middle,
.right,
.rightc,
.leftc {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    font-size: 30px;
    color: black;
    outline: 4px solid black;
    outline-offset: -4px;
    text-align: center;
    line-height: 1.1;
    cursor: pointer;
    min-width: 100%;
    width: 100%;
}
/* Style the left column */
.left {
    grid-area: left;
    background-color: whitesmoke;
    
}
.leftc {
    grid-area: leftc;
    background-color: whitesmoke;
} 
  /* Style the middle column */
  .middle {
    grid-area: middle;
    background-color: whitesmoke;
}
  
/* Style the right column */
  .rightc {
    grid-area: rightc;
    background-color: whitesmoke;
}
  /* Style the right column */
  .right {
    grid-area: right;
    background-color: whitesmoke;
  }

  /* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.bottom { 
    position: absolute;                  
    bottom:0;
    margin: auto;
}
#clicker{
    background-color: #7b1fa2;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 400px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      
}
h3 {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    font-size: 40px;
}
u{
    text-decoration-line: underline;
    text-decoration-color: black ;
    text-align: center;
    font-weight: bolder;
    font-size: 50;
    font-style: comic;
    font-family: "Comic Sans MS" ;
}

  .highlight {
    background-color: yellow;
  }
