<!DOCTYPE html>
<html>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </header>
    <div class = "grid-container">
        <div class="header">
            <button (click)="getImage()">Get New Image :O</button>
            <button (click)="getCard()">Get Player Cards :O</button>
            <button (click)="replaceCard(getSelected())" > Submit! </button>
        <div class="headerl"><img src="{{memeImage}}" height="450"></div>
        <div class="headerm"></div>
        </div>

        

        <div class = "left" (click)=selectCard(0) draggable="true" ondragstart="dragDrop(event)">
            {{hand[0]}}
        </div>
        <div  class = "leftc" (click)="selectCard(1)">{{hand[1]}}</div>
        <div class = "middle" (click)="selectCard(2)">{{hand[2]}}</div>
        <div class = "rightc" (click)="selectCard(3)">{{hand[3]}}</div>
        <div class = "right" (click)="selectCard(4)">{{hand[4]}}</div>
    </div>
</html> 