
#messages-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 90%;
    overflow: auto;
}

.subscript-text {
    font-size: 0.8rem;
    height: 0.8rem;
    color: #757575;
}

::ng-deep .mat-list-item-content {
    padding: 0 !important;
}